{% extends 'base.html.twig' %}

{% block title %}Edit Materiel{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Modifier Equipement</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_materiels_index') }}"> 
                    Voir Equipements
                </a>
            </div>
            <div class="card-body">
                {{ include('materiels/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
        </div>
    </div>

{% endblock %}
